---
title: Dante Editor example
---

<div id="editor">
  <%= partial "partials/readme" %>
</div>

<script type="text/javascript">
  editor = new Dante.Editor(
    {
      el: "#editor",
      upload_url: "/uploads/new.json",
      store_url: "http://localhost:3000/posts/magazin-inostrannoi-literatury-v-cheboksarah-zakryt-na-reviziu-do-19-yanvarya",
      data_type: "json",
      content_type: "application/json",
      store_interval: 3000,
      allow_tables: true,
      debug: <%= build? ? false : true %>
    }
  )
  editor.start()
</script>
